<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <style>
            body { background: white; font: 18px/1.5 sans-serif; }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #wrapper { border:dashed; margin: 1em auto; display: table;  }
            #container { padding: 2em; }
            #welcome, #status { margin-bottom: 2em; }
            #welcome h1 span { display: block; font-size: 75%; }
            #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
            #icon-book { display: none; }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            th {

                background-color: honeydew;
            }

            td, th {
                border: 1px solid #000000;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 200px;
                background-color: transparent;
            }

            li a {
                display: block;
                color: forestgreen;
                font-weight: bold;
                padding: 8px 16px;
                text-decoration: underline;
            }

            /* Change the link color on hover */
            li a:hover {
                background-color: #789339;
                color: white;
            }

            li a:hover:after {
                content: ' ↲';
            }

            #menu {
                background-color: darkseagreen;
            }

            #menu a:before{
                content: ' || ';
            }

            #menu a:after{
                content: ' ||';
            }

            img{
                width: 100px;
            }

            @media (min-width: 768px) {
                #wrapper { width: 80%; margin: 2em auto; }
                #icon-book { display: inline-block; }
                #status a, #next a { display: block; }

                @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
            }
        </style>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="wrapper">
        <div id="container">

            <div id="menu">

                <a href="{{ path('admin_product_index') }}">ADMIN/products</a>
                <a href="{{ path('admin_product-category_index') }}">ADMIN/categories</a>
                <a href="{{ path('product_list_ord_by_rank') }}">Products</a>
                <a href="{{ path('product-category_list_ord_by_rank') }}">Categories</a>
                <a href="{{ path('spamlist_index') }}">spamlist</a>
                <a href="{{ path('find_product') }}">find product</a>
            </div>
        {% block body %}{% endblock %}
        </div>
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
